# This contains the owners for the recipes in this repo

# Global owners
* @mark-church @seils

# Recipe owners
/ingress/external-ingress-basic/ @mark-church
/ingress/internal-ingress-basic/ @techcet
/services/external-lb-service/ @seils
/services/internal-lb-service/ @aurelienlegrand

